name: Lint PR

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

jobs:
  lint_pr:
    name: Check PR title
    runs-on: ubuntu-latest
    steps:
      - name: Validate PR title
        uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

